$white:             #fff !default;
$black:             #484848 !default; // I hate exact black. Eeww
$gray:              #dce0e0 !default;

$primary:           #4c598c !default;
$error:             #C94736 !default;
$secondary:         #6e6e6e !default;

$darkgrey:          #323232 !default;
$lightgrey:         #a7a7a7 !default;

// Branding
$color1: rgba(76, 59, 77, 1);
$color2: rgba(137, 182, 165, 1);
$color3: rgba(201, 237, 220, 1);
$color4: rgba(130, 150, 140, 1);
$color5: rgba(72, 72, 72, 1);

$border-bottom: rgb(228, 228, 228);
$header-button-bottom: rgb(118, 118, 118);

// Styleguide
$border-radius:     4px !default;
